<h1>About this application</h1>
<p>This app is an ongoing project to help in house stock management</p>
<h1>List of features</h1>
<ul class="list-group">
  <li class="list-group-item active" aria-current="true">Add foods to your list</li>
  <li class="list-group-item active" aria-current="true">Edit your foods</li>
  <li class="list-group-item active" aria-current="true">Remove your foods</li>
  <li class="list-group-item active" aria-current="true">Check your foods</li>
  <li class="list-group-item disabled" aria-disabled="true">See when you'll run out of a specific food</li>
  <li class="list-group-item disabled" aria-disabled="true">Check your consuption profile for a specfic food</li>
</ul>