<h1 class="text-center">Add food</h1>

<%= render "form", food: @food %>

<br>

<div class="btn-group gap-3">
  <%= button_to "Back to foods", "/foods", method: :get, :class => "btn btn-warning"%>
</div>
